@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #438440;
  --red: #c1121f;
  --blue: #4285f4;
  --light-dark: #0d1116;
  --light-grey: #b7b7b7;
  --off-white: #e7edf3;

  --g-font: #3c4043;
  --g-bg-hover: #eeeeee;
}

/* 
--------------------------------------------
Form 
--------------------------------------------
*/

/* Save / Edit Button */

.buttonSave {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  width: 8rem;
  height: 3.7rem;
  margin-left: 8.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonEdit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-dark);
  border: 0.1rem solid var(--off-white);
  width: 8rem;
  height: 3.7rem;
  margin-left: 8.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .buttonSave {
    width: 6.8rem;
    height: 3.145rem;
    margin-left: 7.055rem;
    border-radius: 0.425rem;
  }

  .buttonEdit {
    border: 0.085rem solid var(--off-white);
    width: 6.8rem;
    height: 3.145rem;
    margin-left: 7.055rem;
    border-radius: 0.425rem;
  }
}

/* Input Blue Line */

.inactive {
  background-color: var(--g-font);
  opacity: 50%;
  height: 0.05rem;
  margin: 0 0.8rem;
  transition: all 0.1s ease-out;
}

.active {
  background-color: var(--blue);
  height: 0.15rem;
  opacity: 100%;
  margin: 0 0.8rem;
  transition: all 0.2s ease-out;
}

/* Calendar PopUp */

#calendarPopUp {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 38.3rem;
  background-color: white;
  box-shadow: 0.3rem 0.7rem 1rem rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease-out;
  animation: popUpLoad 0.1s ease-out forwards;
  transform: scaleY(0.75);
  padding: 0.8rem 0;
}

@keyframes popUpLoad {
  0% {
    transform: scaleY(0.85);
  }

  100% {
    transform: scaleY(1);
  }
}

.calendarListItem {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  height: 3.6rem;
  font-weight: 400;
  min-width: 100%;
  color: var(--g-font);
  padding: 0 0.8rem;
  white-space: nowrap;
}

.calendarListItem:hover {
  background-color: var(--g-bg-hover);
}

/* Color PopUp */

#colorPopUp {
  position: absolute;
  top: 39rem;
  width: 6.4rem;
  height: 16rem;
  background-color: white;
  box-shadow: 0.3rem 0.7rem 1rem rgba(0, 0, 0, 0.33);
  cursor: default;
  transition: all 0.3s ease-out;
  animation: popUpLoad 0.1s ease-out forwards;
  transform: scaleY(0.75);
}

#colorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
}

.colorRow {
  display: flex;
  width: 100%;
  height: 2.4rem;
  justify-content: space-around;
  align-items: center;
}

.colorSelection {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.9rem;
  background-color: #4285f4;
}

.colorSelection:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/*
--------------------------------------------
Clock 
--------------------------------------------
*/

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.8rem;
  height: 5rem;
  background-color: var(--green);
  border-radius: 0.8rem;
  margin-top: 5rem;
  cursor: pointer;
}

.stop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.8rem;
  height: 5rem;
  background-color: var(--red);
  border-radius: 0.8rem;
  margin-top: 5rem;
  cursor: pointer;
}

.title-line {
  width: 33.4rem;
  height: 0.05rem;
  margin-left: 0.8rem;
  background-color: var(--light-dark);
  opacity: 25%;
}

.activeAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 0.8rem;
  width: 25.9rem;
  height: 5rem;
  margin-top: 5rem;
  cursor: pointer;
}

.inactiveAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-dark);
  border-radius: 0.8rem;
  width: 25.9rem;
  height: 5rem;
  margin-top: 5rem;
  cursor: pointer;
}
